@import "bootstrap";
@import 'app/fonts';


section {
  min-height: 100vh;

  &:not(:last-child) {
    margin-bottom: 80vh;
  }
}

// section map
.leaflet-container {
  width: 100%;
}

// section impression
.image-container {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;

  opacity: 0;
  transition: opacity 1s ease-in-out;

  &.show {
    opacity: 1;
  }

  /* Full height */
  height: 100%;
  width: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.btn:focus {
  &.no-focus {
    outline: none;
    box-shadow: none;
  }

}

.collapse {
  height: 0;
  overflow: hidden;
  transition: height 1s ease-in-out;

  &.show {
    height: auto;
  }
}

.accordion {
  &.accordion-members {
    .card {
      background-color: transparent !important;
      border: none;

      .card-header {
        background-color: transparent !important;
        border: none;
      }
    }
  }
}
