@import "bootstrap";
@import 'app/fonts';


section {
  min-height: 100vh;

  &:not(:last-of-type) {
    margin-bottom: 40vh;
  }
}

// section map
.leaflet-container {
  width: 100%;
}

// section impression
.image-container {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;

  opacity: 0;
  transition: opacity 1s ease-in-out;

  &.show {
    opacity: 1;
  }

  /* Full height */
  height: 100%;
  width: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.btn:focus {
  &.no-focus {
    outline: none;
    box-shadow: none;
  }
}

//p {
//  @include responsive-font-size($font-size-sm, true);
//}
//@media (max-width: 1200px) {
.text-responsive {
  font-size: calc(0.975rem + .5vw) !important;
}

//}
.form-group {
  label {
    font-weight: bold;
    @include responsive-font-size($font-size-sm - 0.2rem, true);
    text-transform: uppercase;
  }

  div.invalid-feedback {
    width: auto;
    text-align: right;
    color: $text-muted;
  }

  &:after {
    margin-top: 2px;
    height: 4px;
    @include border-radius(2px);
    display: block;
    width: 100%;
    background: #808080;
    content: '';
  }
}

.form-control {
  &.is-valid, &.is-invalid {
    border-color: transparent;
    background-image: none;
  }
}

textarea:focus,
textarea.form-control:focus,
input.form-control:focus,
input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus,
input[type=number]:focus,
[type=text].form-control:focus,
[type=password].form-control:focus,
[type=email].form-control:focus,
[type=tel].form-control:focus,
[contenteditable].form-control:focus {
  box-shadow: inset 0 -1px 0 #ddd;
  border: transparent;
}

.occupancy {
  &.occupancy-singular {
    position: absolute;
    top: 20vh;
    vertical-align: text-bottom;

    .current {
      vertical-align: text-bottom;
      text-align: center;
      font-size: min(65vw, 45vh);
      line-height: calc(min(65vw, 45vh));
    }

    .last-update {
      display: block;
      white-space: nowrap;
      vertical-align: text-bottom;
      width: 200px;
      height: 1rem;
      text-align: right;
      font-size: $font-size-sm * .8;
      color: map-get($grays, '700');
      line-height: 0;
    }
  }

  &.occupancy-averages {
    position: absolute;
    bottom: 3vh;
    min-width: 200px;

    .title {
      margin-top: 1.5rem;
    }

    .title, .label {
      font-size: $font-size-sm * .8;
      color: map-get($grays, '700');
    }

    .label {
      position: absolute;
    }

    .graph {
      height: 20vh;

      .bar {
        background-color: map-get($theme-colors, 'dark');
        line-height: 0;

        margin-right: 2px;
      }

      &.graph-days {
        .bar {
          width: 40px;
        }
      }

      &.graph-hours {
        .bar {
          width: 16px;
        }
      }
    }
  }
}

.section-members .accordion {
  .card {
    border: none;
    background-color: transparent;

    .card-header {
      padding: 0 !important;
      background-color: transparent;
      border: none;

      button {
        padding: 2.25rem 0;
        width: 100%;

        &.btn:focus, &.btn:active:focus, &.btn.active:focus, &.btn:hover {
          outline: none;
          box-shadow: none;
          text-decoration: none;
        }
      }
    }

    .card-body {
      padding: 1rem 0;
    }
  }
}
