<div class="container align-self-center" ...attributes>
  <h1>Wonderkamer</h1>
  <p class="lead">verwonderlijk, wonderbaar, wonder, verbazend, verbazingwekkend, verrassend, onbegrijpelijk, zonderling, zonderbaar, bijzonder, vreemd, vreemdsoortig, ongewoon, ongemeen, eigenaardig, raar, gek, grotesk, zeldzaam, treffend, merkwaardig</p>
  <hr>
  <p class="text-dark">werkplek voor zelfstandig ondernemers, op-afstand werkers, creatieven en vrijwilligers</p>
</div>
