<section class="d-flex {{this.classIdentifier}}"
  {{did-insert this.sectionInserted}}
  {{in-viewport onEnter=(fn this.onViewIn) onExit=this.onViewLeave}}
         ...attributes>
  <div class="d-flex flex-grow-1">
    {{yield}}
  </div>
</section>
