<div class="container small" ...attributes>
  <div class="row mb-5">
    <div class="col-12 col-sm-6">
      <Util::MarkdownFromUrl @url="/sections/about-the-place.md"/>
    </div>
    <div class="col-12 col-sm-6">
      <img src="/assets/images/about-img-1.jpg" class="img-fluid" alt="" role="presentation">
    </div>
  </div>
  <div class="row mb-5 flex-sm-row-reverse">
    <div class="col-12 col-sm-6">
      <Util::MarkdownFromUrl @url="/sections/about-the-facilities.md"/>
    </div>
    <div class="col-12 col-sm-6">
      <img src="/assets/images/placeholder.jpg" class="img-fluid" alt="" role="presentation">
    </div>
  </div>
  <div class="row mb-5">
    <div class="col-12 col-sm-6">
      <Util::MarkdownFromUrl @url="/sections/about-wonderkamer.md"/>
    </div>
    <div class="col-12 col-sm-6">
      <img src="/assets/images/placeholder.jpg" class="img-fluid" alt="" role="presentation">
    </div>
  </div>
  <div class="row mb-5">
    <div class="col-12 col-sm-4">
      <p class="lead text-center">
        <span class="text-uppercase">FLEX1</span>
      </p>
      <hr>
      <ul class="list-unstyled">
        <li><span class="badge badge-primary">€100 per maand</span></li>
        <li><span class="badge badge-primary">gebruik tot ~1 dag per week</span></li>
        <li><span class="badge badge-primary">clean desk policy</span></li>
      </ul>
    </div>
    <div class="col-12 col-sm-4">
      <p class="lead text-center">
        <span class="text-uppercase">FLEX3</span>
      </p>
      <hr>
      <ul class="list-unstyled">
        <li><span class="badge badge-primary">€150 per maand</span></li>
        <li><span class="badge badge-primary">gebruik tot ~3 dagen per week</span></li>
        <li><span class="badge badge-primary">clean desk policy</span></li>
      </ul>
    </div>
    <div class="col-12 col-sm-4">
      <p class="lead text-center">
        <span class="text-uppercase">VAST</span>
      </p>
      <hr>
      <ul class="list-unstyled">
        <li><span class="badge badge-primary">€250 per maand</span></li>
        <li><span class="badge badge-primary">gebruik onbeperkt</span></li>
        <li><span class="badge badge-primary">eigen bureau en -stoel</span></li>
        <li><span class="badge badge-primary">bekabeld internet</span></li>
      </ul>
    </div>
    <div class="col-12">
      <p class="lead text-center">
        <span class="text-uppercase">elk pakket</span>
      </p>
      <hr>
      <ul class="list-inline">
        <li class="list-inline-item badge badge-primary text-uppercase">eerste maand proef</li>
        <li class="list-inline-item badge badge-primary text-uppercase">twee maanden opzegtermijn</li>
        <li class="list-inline-item badge badge-primary text-uppercase">24/7 toegang</li>
        <li class="list-inline-item badge badge-primary text-uppercase">koffie en thee inbegrepen</li>
        <li class="list-inline-item badge badge-primary text-uppercase">kastruimte</li>
        <li class="list-inline-item badge badge-primary text-uppercase">draadloos internet</li>
        <li class="list-inline-item badge badge-primary text-uppercase">overleg/bel ruimtes</li>
      </ul>
    </div>
  </div>
</div>
