<div class="container small" ...attributes>

  <div class="row mb-5">
    <div class="col-6">
      <Util::MarkdownFromUrl @url="/sections/about-the-place.md"/>
    </div>

    <div class="col-6">
      <img src="/assets/images/placeholder.jpg" class="img-fluid" alt="" role="presentation">
    </div>
  </div>

  <div class="row mb-5">

    <div class="col-6">
      <img src="/assets/images/placeholder.jpg" class="img-fluid" alt="" role="presentation">
    </div>

    <div class="col-6">
      <Util::MarkdownFromUrl @url="/sections/about-the-facilities.md"/>
    </div>
  </div>

  <div class="row mb-5">
    <div class="col-6">
      <Util::MarkdownFromUrl @url="/sections/about-wonderkamer.md"/>
    </div>

    <div class="col-6">
      <img src="/assets/images/placeholder.jpg" class="img-fluid" alt="" role="presentation">
    </div>
  </div>

  <div class="row mb-5">

    <div class="col-4">
      <p class="lead text-center">
        <span class="text-uppercase">fixi</span>
      </p>
      <hr>
      <ul class="list-unstyled">
        <li><span class="badge badge-primary">€275,00 per maand</span></li>
        <li><span class="badge badge-primary">gebruik onbeperkt</span></li>
        <li><span class="badge badge-primary">eigen bureau en -stoel</span></li>
      </ul>
    </div>

    <div class="col-4">
      <p class="lead text-center">
        <span class="text-uppercase">flxi 1</span>
      </p>

      <hr>

      <ul class="list-unstyled">
        <li><span class="badge badge-primary">€75,00 per maand</span></li>
        <li><span class="badge badge-primary">gebruik tot ~1 dag per week</span></li>
        <li><span class="badge badge-primary">clean desk policy</span></li>
      </ul>
    </div>

    <div class="col-4">
      <p class="lead text-center">
        <span class="text-uppercase">flxi 3</span>
      </p>
      <hr>
      <ul class="list-unstyled">
        <li><span class="badge badge-primary">€175,00 per maand</span></li>
        <li><span class="badge badge-primary">gebruik tot ~3 dagen per week</span></li>
        <li><span class="badge badge-primary">clean desk policy</span></li>
      </ul>
    </div>

    <div class="col-12">
      <p>elk pakket</p>
      <ul class="list-inline">
        <li class="list-inline-item badge badge-primary text-uppercase">24/7 toegang</li>
        <li class="list-inline-item badge badge-primary text-uppercase">plank in afsluitbare ruimte</li>
        <li class="list-inline-item badge badge-primary text-uppercase">inclusief koffie en thee</li>
        <li class="list-inline-item badge badge-primary text-uppercase">borg van 1 maand</li>
        <li class="list-inline-item badge badge-primary text-uppercase">2 maanden opzegtermijn</li>
        <li class="list-inline-item badge badge-primary text-uppercase">eerste maand proef</li>
        <li class="list-inline-item badge badge-primary text-uppercase">beschikking tot ruimte voor een event</li>
      </ul>
    </div>

  </div>

</div>


