<div class="container align-self-center" style="" ...attributes>
  <h2>Over de plek</h2>
  <p>
    In deze ruime en lichte kantoorruimte in Amsterdam werken vooral mensen uit de creatieve sector. Ontwerpers,
    ontwikkelaars en communicatiespecialisten als tekstschrijvers huren hier een werkplek. Wij ambiëren een
    ongedwongen en persoonlijk sfeer waar serieus werk kan worden gedaan.
  </p>

  <h3>Mogelijkheden & faciliteiten</h3>

  <p>
    Wij verhuren zowel vaste- als flexplekken en deze gaan voor €150 en €250 per maand.
  </p>

  <p>
    We bieden één ruime en lichte werkplek van ongeveer 100m2 in een oud klaslokaal. Uniek is het ramen aan de voor- en
    achterzijde twee kanten, waardoor de kantoorruimte erg licht is. Darnaast is er een fijne ruime tuin voor een lunch in het zonnetje.
  </p>

  <p>Printer aanwezig, internet, belruimte, een goed eenvoudige keuken, koffie en thee. Er zijn een stuk of 8 bureaus aanwezig.</p>

  <p>Bovendien hebben we momenteel plaats... Wil je een keertje de sfeer proeven? Wees welkom.</p>

  <p>
    We werken in priciepe met contracten voor onbepaalde tijd met een opzegtermijn van 2 maanden. Ben je echter op zoek
    naar iets voor alleen deze zomer dan is dat ook mogelijk via onze zomeraanbieding. Tot eind augustus voor ... per maand.
  </p>
</div>
