<span class="text-center mb-5" ...attributes>
  <span style="font-size: 45vw; line-height: 0;">{{this.lastOccupancy.occupancy}}</span>
  <span class="text-dark small">{{moment-from-now this.lastOccupancy.on}}</span>
</span>
