<Section class="bg-secondary">
  <SectionMembers @members={{this.members}} />
</Section>

<Section class="bg-primary">
  <SectionTitle/>
</Section>

<Section class="bg-secondary">
  <SectionAbout/>
</Section>

<Section>
  <SectionImpressions/>
</Section>

<Section class="bg-secondary">
  <SectionMembers @members={{this.members}} />
</Section>

<Section class="bg-secondary">
  <SectionMap/>
</Section>

<Section class="bg-secondary">
  <SectionContact/>
</Section>

{{outlet}}
