{{page-title "Bezetting"}}
<section class="bg-primary d-flex align-items-center justify-content-center">
  <div class="">
    <Occupancy::Singular @occupancies={{this.model}} class="mt-5 occupancy occupancy-singular"/>
    <Occupancy::Averages @occupancies={{this.model}} class="mt-5 occupancy occupancy-averages"/>
  </div>
</section>
