{{page-title "Bezetting"}}
<section class="bg-primary d-flex align-items-center justify-content-center">
  <span class="text-center">
    <span style="font-size: 45vw; line-height: 0;">{{this.model.occupancy}}</span>
    <span class="text-dark small">{{moment-from-now this.model.on}}</span>
  </span>
</section>
