<section class="bg-primary d-flex align-items-center justify-content-center">
  <span class="text-center" style="font-size: 45vw; line-height: 0;">
    <label>{{this.model}}</label>
  </span>
</section>
