{{page-title "Bezetting"}}
<section class="bg-primary d-flex align-items-center justify-content-center">
  <div class="d-flex flex-column">
  <Occupancy::Singular @occupancies={{this.model}} class="mt-5"/>
  <Occupancy::Averages @occupancies={{this.model}}/>
  </div>
</section>
